<div class="modal-header">
    <h4 class="modal-title pull-left">Controlo de acessos</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<form [formGroup]="formLogin" (ngSubmit)="userLogin()">
    <p>Email:<input type="text" [formControlName]="'email'"/></p>
    <p>Senha:<input type="password" [formControlName]="'senha'"/></p>
    <p><input type="submit" value="Entrar"></p>
</form>