
 
 .genero{
    text-align: center;
    padding: 20px;
} 

.paginaProdutosCaixa{
   padding-left: 200px;
}


.allcheckBox{
    display: block; 



}
.checkBox{
    border: 1px solid black;
padding: 0;
    width: 10%;

}

 .checkBoxTitulo{
    margin:0; 
background-color: orangered;
text-align: center;

} 




