.pageContainer{
    display: flex;
    flex-direction: column;

}
 
 .genero{
    text-align: center;
    padding: 20px;
} 

.paginaProdutosCaixa{
   padding-left: 300px;
}


.allcheckBox{
    display: block; 
    width: 10%;


}
.checkBox{
    border: 1px solid black;

}

 .checkBoxTitulo{
background-color: orangered;
text-align: center;

} 




