<!-- <p class="genero">{{genero}}</p>
 <p *ngIf="listaFinal.length===0">Não existem produtos nesta categoria</p> 
 <p *ngIf="listaFinal.length!==0"></p>
<li class="imagemProdu" *ngFor="let listaProduto of listaFinal">
<img src="/assets/{{ listaProduto.foto_principal }}" />
</li> -->
<div class="allcheckBox">
    <div class="checkBox">
        <p *ngIf="tiposProduto.length===0">Não existem produtos nesta categoria</p>
        <div class="checkBoxTitulo">
            <p>Tipo</p>
        </div>
        <p class="" *ngIf="tiposProduto.length!==0"></p>
        <p class="" *ngFor="let tipoProduto of tiposProduto"><input type="radio" value="tipoProduto" name="tipoProduto">
            {{tipoProduto.tipo}}</p>

    </div>

    <div class="checkBox">
        <p *ngIf="listaCores.length===0">Não existem produtos nesta categoria</p>
        <p class="checkBoxTitulo">Cor</p>
        <p class="" *ngIf="listaCores.length!==0"></p>
        <p class="" *ngFor="let listaCor of listaCores"><input type="radio" value="tipoProduto" name="tipoProduto">
            {{listaCor}}</p>

    </div>
</div>
<div class="genero">
    <p>{{genero}}</p><br>
</div>
<p *ngIf="listaFinal!.length===0">Não existem produtos nesta categoria</p>

<div class="paginaProdutosCaixa">
    <p class="paginaProdutosContainer" *ngIf="listaFinal!.length!==0"></p>
    <p>Total de Resultados: {{ listaFinal!.length }} </p>
    <section class="container">
        <app-card [dados]="listaProduto" *ngFor="let listaProduto of listaFinal"></app-card>
        <p><button (click)="next10()">Next 10</button></p>
    </section>
   
    
</div>
