<p *ngIf="!produto">Não existem sobre o produto.</p>
<div class="tabelaPaginaProd" *ngIf="produto">
    <table class="produtoDescricao">
        
            <tr>

                <td class="marca">{{produto.marca}}</td>
                <td class="nome">{{produto.nome}}</td>
                <td><img src="/assets/{{ produto.foto_principal }}" /><img src="/assets/{{ produto.foto_secundaria }}" /></td>
                <td>{{produto.tipo_de_produto}}&nbsp;{{produto.cor}}</td>
                <td>{{produto.preco}}€</td>
                <td class="descricao">{{produto.descricao}}</td>

            </tr>
    </table>
</div>