<div class="carrolselContainer">
  <carousel class="carrosel">
    <slide>
      <img src="/assets/slider1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption ">
      </div>
    </slide>
    <slide>
      <img src="/assets/slider2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
      </div>
    </slide>
    <slide>
      <img src="/assets/slider3.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
      </div>
    </slide>
  </carousel>
  <h1 class="carroselTexto">Saldos</h1>
</div>