<!-- <section class="container">
    <li class="imagensDestaque" *ngFor="let produto of listaProdutosDestaque">
        <img src="/assets/{{produto.foto_principal}}">
      </li>
</section> -->
<!-- <div class="container">
<table id="tabelaImagens" *ngIf="listaProdutosDestaque.length!==0">

    <tbody >
        <tr>
        <td *ngFor="let produto of listaProdutosDestaque" >
            <img src="/assets/{{produto.foto_principal}}" >
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td colspan="2"></td>
    </tr>
    </tbody>
</table>
</div> -->



<table  class="destaquesContainer">
    <tr>
        <td class="destaqueImg" *ngFor="let produto of listaProdutosDestaque" >
            <img src="/assets/{{produto.foto_principal}}" >
        </td>
    </tr>
  
</table>

