.destaquesCaixa{
  
    display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
   
}

.destaquesContainer{ 
    display: block;

}

.destaqueImg{
    display: inline;
}

.destaqueImg img:hover {
    border: 2px solid red;
  }


.destaquesTexto p {
  
    font-size: larger;
    font-weight: bolder;
 

}

.button{
    background-color: transparent;
    border: none;
}
