<footer>
    <div class="iconsFooter">
        <a href="">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="">
            <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
        <a href="">
            <fa-icon [icon]="faPinterest"></fa-icon>
        </a>
    </div>

    <p class="textoFooter">O conteúdo deste site está protegido por
        copyright e é propriedade da H & M Hennes & Mauritz AB.
        O conceito de negócio da H&M é a oferta de moda e
        qualidade aos melhores preços, de forma sustentável.
        Desde que foi fundada, em 1947, a H&M tornou-se uma das maiores
        empresas de moda do mundo.</p>

</footer>