
    <div class="iconsCentro">
        <div class="dropdown">
            <button class="btDrop">Homem</button>
            <div class="dropdownContent">
                <li *ngFor="let opcaoMenuHomem of opcoesMenuHomem">
                    <a href="#">{{opcaoMenuHomem}}</a>
            </div>
        </div>
        <div class="separadorHeader">|</div>
        <div class="dropdown">
            <button class="btDrop">Mulher</button>
            <div class="dropdownContent">
                <li *ngFor="let opcaoMenuMulher of opcoesMenuMulher">
                    <a href="#">{{opcaoMenuMulher}}</a>
            </div>
        </div>
        <img src="../assets/logo.png" class="imagemHeader">
        <div class="dropdown">
            <button class="btDrop">Criança</button>
            <div class="dropdownContent">
                <li *ngFor="let opcaoMenuCrianca of opcoesMenuCrianca">
                    <a href="#">{{opcaoMenuCrianca}}</a>
            </div>
        </div>
        <div class="separadorHeader">|</div>
        <div class="dropdown">
            <button class="btDrop">Acessórios</button>
            <div class="dropdownContent">
                <li *ngFor="let opcaoMenuAcessorio of opcoesMenuAcessorios">
                    <a href="#">{{opcaoMenuAcessorio}}</a>
            </div>
        </div>
        <app-user></app-user> 

    </div>
