* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
    margin-top: 0;
    margin-bottom: 0;
  }

.imagemHeader {
    width: 80px;
}

#button-animated {
    background-color: white;
    color: black;
    border: none;
    content: none;

}

header {
    position: relative;
    display: flex;
    justify-content: center;
   
  
}

.iconsCentro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

 
}

.btDrop{
    padding: 5px;
    border: none;
    background-color: transparent;

}

.dropdownContent{
    display: none;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  list-style-type: none;
}

.dropdownContent a{
    display: block;
    color: black;
    width: fit-content;
    text-decoration: none;
}

.dropdown:hover .dropdownContent {
    width: 200px;
    font-size: small;
    display: 
    block;
}
/* 
 .iconsHeader {
display: flex;
align-items: center;
padding: 10%;


} 

.iconsHeader>*{
padding: 10px;    
}
 */