
    <div class="iconsHeader">
        <button *ngIf="mostraME" >
            <fa-icon [icon]="faWishlist"></fa-icon>
        </button>
        <button type="button" 
        class="button" (click)="openModalLogin()">
            <fa-icon [icon]="faLog"></fa-icon>
        </button>
        <button routerLink="/userregisto" routerLinkActive="activa" type="button" 
        class="button">
            <fa-icon [icon]="faRegisto"></fa-icon>
        </button>
        <button>
            <fa-icon *ngIf="mostraME"  [icon]="faPerfil"></fa-icon>
        </button>
    </div>
